@font-face {
    font-family: "SF Mono";
    src: url("/font/SFMono-Regular.ttf");
    font-style: normal;
}


@font-face {
    font-family: "SF Pro";
    src: url("/font/SFProText-Regular.ttf");
    font-style: normal;
}
