//device breakpoints
$width-xs: 0px;
$width-s: 370px;
$width-sm: 544px;
$width-md: 768px;
$width-lg: 1012px;
$width-xl: 1280px;

// $blue-color: #58A6ff;
// $banner-color: #6889FD;
$hero-bg-color: #14142B;
$hero-text-color: rgba(153, 89, 219, 1)
rgba(48, 143, 232, 1);
$text-color: #fff;
$blue-color : #115FA7;
$intro_color: #c5c5c5;
$points-color: rgba(67,74,116,0.73);
$purple: #653995;
$header-text-color: #ACACAC;

$mono:'SF Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$pro: 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;