@import 'variables';
@import 'mixins';
@import 'lists';
@import 'functions';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// utility classes

.d-flex {
    display: flex !important;
}
.justify-space-between {
    justify-content: space-between !important;
}
.f-direction-row {
    flex-direction: row !important;
}
.f-direction-column {
    flex-direction: column !important;
}
.f-wrap {
    flex-wrap: wrap;
}
.text-a-center {
    text-align: center !important;
}
.mt-0 {
    margin-top: 1rem !important;
}
.mb-0 {
    margin-bottom: 1rem !important;
}
.note {
    border-left: 4px solid green;
    padding-left: 6px;
}
// mobile first style

@font-face {
    font-family: "SF Mono";
    src: url("/font/SFMono-Regular.ttf");
    font-style: normal;
}


@font-face {
    font-family: "SF Pro";
    src: url("/font/SFProText-Regular.ttf");
    font-style: normal;
}

$mono:'SF Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$pro: 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

body {
    width: 100%;
    height: auto;
    padding: 0 10%;
    font-family: $mono;
    line-height: 1.5;
    position: relative;
    @include breakpoint(breakpoint(xl)) {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    @include breakpoint(breakpoint(xs)) {
        padding: 0 10%;
    }
    @include breakpoint(breakpoint(sm)) {
        padding: 0 15%;
    }
    @include breakpoint(breakpoint(md)) {
        padding: 0 15%;
        // font-size: 1rem;
    }
    @include breakpoint(breakpoint(lg)) {
        padding: 0 5%;
    }
}

header {
    padding: 1rem 0 1rem 0;
    align-items: center;
    margin: 1.3rem 0 0 0;
    & .nav_item_left {
        > .logo {
            width: 150px;
            height: 100px;
            align-items: center;
            > a {
                    > img {
                    width: 150px;
                    height: 100px;
                    object-fit: contain;
                }
            }
            > .logo_text {
                vertical-align: middle;
                // margin-left: 0.5rem;
                font-family: $pro;
                font-weight: 600;
                font-size: 1.2rem;
            }
        }
    }
    & .nav_item_right {
        > button {
            padding: 0.05rem 0.5rem;
            border: 1px solid rgb(189, 185, 185);
            border-radius: 0.2rem;
            > a {
                text-decoration: none;
                color: black;
                font-weight: 600;
                margin-left: 0.1rem;
                display: block;
                > img {
                    width: 10px;
                    height: 10px;
                    object-fit: contain;
                    margin-right: 0.15rem;
                    font-family: $pro;
                }
            }
        }
        > a {
            color: black;
            text-decoration: none;
            display:inline-block;
            > .stargazers_count {
                margin-left: -0.2rem;
                border: 1px solid rgb(189, 185, 185);
                border-radius: 0.2rem;
                padding: 0.05rem 0.5rem;
                font-weight: 500;
                font-size: 0.8rem;
                position: relative;
                background-color: #fff;
                &::before {
                    content: "";
                    position: absolute;
                    left: -0.7rem;
                    top: 0.23rem;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-right: 5px solid rgb(189, 185, 185);
                    border-left: 5px solid transparent;
                }
            }
        }
    }
}

.hero_container {
    flex-direction: column;
    padding: 3rem 0;
    > .hero_text_box {
        width: 100%;
        @include breakpoint(breakpoint(xl)) {
            width: 50%;
        }
        > .hero_text {
            font-size: 1.5rem;
            @include breakpoint(breakpoint(xl)) {
                font-size: 1rem;
                text-align: left !important;
            }
        }
    }
    > .hero_cta {
        @include breakpoint(breakpoint(xl)) {
            flex-direction: row !important;
        }
        & .cta-primary {
            text-decoration: none;
            display:inline-block;
            color:white;
            background: $banner-color;
            padding: 0.8rem 1rem;
            vertical-align: middle;
            font-weight: 700;
            font-family: $pro;
            font-size: 0.9rem;
            &:hover {
                transform: translateY(-0.1rem);
            }
        }
        & .cta-secondary {
            text-decoration: underline;
            display:inline-block;
            color:black;
            padding: 1rem 1rem;
            font-weight: 700;
            font-family: $pro;
            font-size: 0.9rem;
            &:hover {
                color: $blue-color;
            }
        }
    }
}

.about_container {
    width: 100%;
    & .heading1, & .project_readme > h2, h3, ul {
        margin: 1rem 0;
    }
    & .project_readme {
        > p {
        font-family: $pro;
    }
    & ul {
        margin-left: 1rem;
        > li {
            margin: 0.4rem 0;
            font-size: 1rem;
        }
    }
    }
}

.get_involved {
    margin: 2rem 0;
    & .heading1 {
        margin: 1rem 0;
    }
    & .ways-to-container {
        width: 100%;
        @include breakpoint(breakpoint(xl)) {
            flex-direction: row !important;
            justify-content: space-between !important;
            // flex-wrap: wrap;
        }
        @include breakpoint(breakpoint(lg)) {
            flex-direction: row !important;
            justify-content: space-between !important;
            // flex-wrap: wrap;
        }
        > .contribute,.donate,.connect  {
            border: 1px solid gainsboro;
            border-radius: 0.05rem;
            display:block;
            width: 100%;
            height: auto;
            margin: 0.5rem 0;
            text-align: center;
            padding: 1rem;
            @include breakpoint(breakpoint(xl)) {
                display: inline-block;
                width: (90% / 3);
            }
            > h3,h4 {
                text-align: center;
                margin: 0.4rem 0;
            }
            > p {
                font-family: $pro;
            }
        }
        > .donate {
            > p > a {
                text-decoration: none;
                display:block;
                color: white;
                font-weight: 600;
                padding: 0.3rem 2rem;
                background-color: $banner-color;
            }
        }
    }
}

footer {
    margin: 1rem 0;
    > .footer_text {
        text-align: center;
    }
}
a {
    text-decoration: underline;
    color: black;
    &:hover {
        color:$banner-color;
    }
}
.coming_soon_banner {
    width: 100%;
    height: 2.5rem;
    background-color: $banner-color;
    color: white;
    text-align: center;
    align-self: center;
    vertical-align: middle;
    // display: block;
    padding: 5rem 0;
    font-size: 1.3rem;
    font-family: $pro;
    position: fixed;
    font-weight: 600;
    z-index: 2000;
    padding: 0;
    left: 0;
    top:0;
    // margin: 0 0 1rem 0;
    @include breakpoint(breakpoint(xl)) {
        // position:static;
        padding: 0.5rem 0;
        font-size: 1.2rem;
        height: auto;
    }
}