header {
    width: 100%;
    // border: 1px solid red;
    padding: 0 2%;
    @include breakpoint(breakpoint(xl)) {
        padding: 0 10%;
    }
    @include breakpoint(breakpoint(lg)) {
        padding: 0 10%;
    }
    & .nav_item_left {
        .logo {
             > a {
                //  display: block;
                 text-decoration: none;
                 & img {
                     width: 2.5rem;
                     height: 2.5rem;
                 }
             }
             & .logo_text > a {
                margin : {
                    left: 0.2rem;
                }
                color: $header-text-color;
                font: {
                    size: 0.3rem;
                }
                @include breakpoint(breakpoint(lg)) {
                    font-size: 0.9rem;
                }
                @include breakpoint(breakpoint(xl)) {
                    font-size: 0.9rem;
                }
                @include breakpoint(breakpoint(sm)) {
                    font-size: 0.9rem;
                }
                @include breakpoint(breakpoint(ss)) {
                    font-size: 0.8rem;
                }
                @include breakpoint(breakpoint(ss)) {
                    font-size: 0.8rem;
                }
                @include breakpoint(breakpoint(md)) {
                    font-size: 0.9rem;
                }
             }
        }
    }
    & .nav_item_right {
        .twitter_follow {
            color: $header-text-color;
            font: {
                size: 0.5rem;
            }
            margin-right: 0.5rem !important;
            & img {
                width: 0.6rem;
                height: 0.6rem;
                vertical-align: middle;
            }
            @include breakpoint(breakpoint(ss)) {
                margin: {
                    right: 0.5rem !important;
                }
                font: {
                    size: 0.8rem;
                }
                & img {
                width: 0.8rem;
                height: 0.8rem;
                vertical-align: middle;
            }
            }
            @include breakpoint(breakpoint(s)) {
                margin: {
                    right: 3rem !important;
                }
                font: {
                    size: 0.8rem !important;
                }
            }
            @include breakpoint(breakpoint(sm)) {
                margin: {
                    right: 4rem !important;
                }
                font: {
                    size: 0.5rem !important;
                }
            }
            @include breakpoint(breakpoint(md)) {
                margin: {
                    right: 4rem !important;
                }
                font: {
                    size: 0.5rem !important;
                }
            }
            @include breakpoint(breakpoint(lg)) {
                margin-right: 4rem !important;
                font: {
                    size: 0.9rem !important;
                }
            }
            @include breakpoint(breakpoint(xl)) {
                margin: {
                    right: 4rem !important;
                }
                font: {
                    size: 1rem !important;
                }
            }
        }
        .star_project {
            text-decoration: none;
            // border: 1px solid red;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            padding: 0rem 0.6rem;
            background-color: $purple;
            margin: {
                right: 0.1rem;
            }
            & img {
                width: 0.8rem;
                height: 0.8rem;
                vertical-align: middle;
            }
        }
        .stargazers {
            // border: 1px  solid red;
            vertical-align: middle;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            background-color: $purple;
            padding: 0rem 0.6rem;
            & .stargazers_count {
                text-decoration: none;
                font: {
                    family: $pro;
                    size: 0.5rem;
                }
                color: $text-color;
                @include breakpoint(breakpoint(xl)) {
                    font: {
                        size: 0.8rem;
                    }
                }
            }
        }
    }
}
