header {
    width: 100%;
    // border: 1px solid red;
    padding: 0 2%;
    @include breakpoint(breakpoint(xl)) {
        padding: 0 10%;
    }
    @include breakpoint(breakpoint(lg)) {
        padding: 0 10%;
    }
    & .nav_item_left {
        .logo {
             > a {
                //  display: block;
                 text-decoration: none;
                 & img {
                     width: 2.5rem;
                     height: 2.5rem;
                 }
             }
             & .logo_text {
                margin : {
                    left: 0.4rem;
                }
                color: $header-text-color;
                font: {
                    size: 0.8rem;
                }
             }
        }
    }
    & .nav_item_right {
        .twitter_follow {
            color: $header-text-color;
            font: {
                size: 0.8rem;
            }
            margin-right: 1rem !important;
            & img {
                width:0.85rem;
                height: 0.85rem;
                vertical-align: middle;
            }
            @include breakpoint(breakpoint(lg)) {
                margin-right: 4rem !important;
            }
            @include breakpoint(breakpoint(xl)) {
                margin: {
                    right: 4rem !important;
                }
            }
        }
        .star_project {
            text-decoration: none;
            // border: 1px solid red;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            padding: 0rem 0.9rem;
            background-color: $purple;
            margin: {
                right: 0.1rem;
            }
            & img {
                width: 0.8rem;
                height: 0.8rem;
                vertical-align: middle;
            }
        }
        .stargazers {
            // border: 1px  solid red;
            vertical-align: middle;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            background-color: $purple;
            padding: 0rem 0.9rem;
            & .stargazers_count {
                text-decoration: none;
                font: {
                    family: $pro;
                    size: 0.7rem;
                }
                color: $text-color;
            }
        }
    }
}
