.hero_container {
    width: 100%;
    height: auto;
    background-color: $hero-bg-color;
    @include breakpoint(breakpoint(lg)) {
        padding: 0 10%;
    }
    @include breakpoint(breakpoint(lg)) {
        padding: 0 10%;
    }
    & .hero_text_box {
        > .header-text {
            font-family: $pro;
            // border: 1px solid red;
            > h1 {
                background: linear-gradient(100.27deg, #9959DB 27.43%, #308FE8 78.97%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                line-height: 1.2;
                // border: 1px solid yellow;
                font: {
                    size: 2rem;
                    weight:500;
                }
                @include breakpoint(breakpoint(ss)) {
                font: {
                    size: 2.5rem;
                    }
                }
                @include breakpoint(breakpoint(s)) {
                font: {
                    size: 3rem;
                    }
                }
                @include breakpoint(breakpoint(sm)) {
                   font: {
                    size: 5rem;
                } 
                }
                @include breakpoint(breakpoint(md)) {
                   font: {
                    size: 7rem;
                } 
                }
                @include breakpoint(breakpoint(lg)) {
                    font: {
                        size: 8rem !important;
                    }
                }
                @include breakpoint(breakpoint(xl)) {
                    font: {
                        size: 11.5rem !important;
                    }
                }
                color: $hero-text-color;
                & .bolder {
                    font-weight: 900;
                }
                margin: 60px 0;
                 @include breakpoint(breakpoint(xl)) {
                margin: 70px 0;
                }
                @include breakpoint(breakpoint(s)) {
                margin: 70px 0;  
                }
                @include breakpoint(breakpoint(sm)) {
                margin: 60px 0;
                }
                @include breakpoint(breakpoint(ss)) {
                margin: 50px 0;
                }
                @include breakpoint(breakpoint(md)) {
                margin: 40px 0;
                }
                @include breakpoint(breakpoint(lg)) {
                margin: 30px 0;
                }
            }
            & svg {
                    width: 32px;
                    height: 32px;
                    @include breakpoint(breakpoint(sm)) {
                        width: 60px;
                        height: 60px;
                    }
                    @include breakpoint(breakpoint(lg)) {
                        width: 80px;
                        height: 80px;
                    }
                    // @include breakpoint(breakpoint(xl)) {
                    //     width: 100px;
                    //     height: 100px;
                    // }
                }
            .svg1 {
                top: 3px;
                left: 25px;
                @include breakpoint(breakpoint(ss)) {
                    left: 22px !important;
                    top: 6px !important;
                }
                @include breakpoint(breakpoint(s)) {
                    left: 40px !important;
                }
                @include breakpoint(breakpoint(md)) {
                    left: 80px;
                }
                @include breakpoint(breakpoint(sm)) {
                    left: 10px !important;
                    top: 0px;
                }
                @include breakpoint(breakpoint(lg)) {
                    left: 100px !important;
                    top: 20px !important;
                }
                @include breakpoint(breakpoint(xl)) {
                left : 0px !important;
                top: 30px !important;
                }
            }
            .svg2 {
                right: 38px;
                top: 50px;
                @include breakpoint(breakpoint(md)) {
                    right: 180px;
                    top: 190px !important;
                }
                @include breakpoint(breakpoint(ss)) {
                    right: 35px;
                    top: 70px;
                }
                @include breakpoint(breakpoint(s)) {
                    right: 70px !important;
                    top: 80px;
                }
                @include breakpoint(breakpoint(sm)) {
                    right: 50px !important;
                    top: 140px;
                }
                @include breakpoint(breakpoint(lg)) {
                    right: 140px !important;
                    top: 240px !important;
                }
                @include breakpoint(breakpoint(xl)) {
                right: 50px !important;
                top: 360px !important;
                }
            }
        }
        & .hero_text {
            color: $intro-color;
            padding: 0 10%;
            font : {
                size: 1rem;
            }
        }
    }
    .hero_cta {
        width: 100%;
        a {
            text-decoration: none;
            // display: block;
            background-color: $blue-color;
            border-radius: 50px;
            color: $text-color;
            padding: 15px 30px;
            font-size: 0.9rem;
        }
    }

    .note {
        color: $intro-color;
        margin: 1.4rem 0;
        font-size: 1rem;
        padding: 0 10%;
        > a {
            text-decoration: none;
            color: $blue-color;
        }
    }
}   

.about_container {
    #about {
        color: $h_color;
        margin: 2rem 0 !important;
        font: {
            size: 2rem;
        }
    }
    & .project_readme {
            .projectReadme_intro {
                color: $purple;
                font-size: 1rem;
            }
            .motivation {
                color:$purple;
            }
            .key_text {
                color: $points-color;
                font-size: 0.9rem;
                display: block;
            }   
            .para-left, .para-right {
                color: $intro-color;
            } 
    }
}

.readme-ul {
    .readme-li {
        color: $intro-color;
        line-height: 1.6;
    }
}
// .challenges-section {

// }
.challenges-p {
    color:$intro-color;
    font-size: 0.9rem;
    font-weight: bold;
}
.key_text {
    color: $points_color;
    font: {
        size: 0.9rem;
    }
    line-height: 1.4;

    &::after {
        content: " - ";
    }

}

.para-left, .para-right , p{
                color: $intro-color;
                width: 100%;
                line-height: 1.6;
            } 
.para-left {
    @include breakpoint(breakpoint(xl)) {
                width: 70%;
                margin: 2rem auto 0 0;
                font-size: 0.9rem;
            }
            @include breakpoint(breakpoint(lg)) {
                width: 70%;
                margin:  2rem auto 0 0;
                font-size: 0.9rem;
            }
}
.para-right {
    @include breakpoint(breakpoint(xl)) {
                width: 70%;
                margin: 2rem 0 0 auto;
                font-size: 0.9rem;
            }
            @include breakpoint(breakpoint(lg)) {
                width: 70%;
                margin: 2rem 0 0 auto;
                font-size: 0.9rem;
            }
}
.readme-li {
    @include breakpoint(breakpoint(xl)) {
                font-size: 0.9rem;
            }
            @include breakpoint(breakpoint(lg)) {
                font-size: 0.9rem;
            }
}

.partners {
    > .partner_heading {
        color: $h-color;
    }

    > .profile_wrap {
        width: 100%;
        flex-wrap: wrap;
        > .thumbnail {
            margin: 5px 0;
            padding: 0 5px;
            // border: 1px solid red;
            width: 200px;
            height: 100px;
            > a {
                img {
                    object-fit: contain;
                    width: 90%;
                    height: 100%;
                    @include breakpoint(breakpoint(xl)) {
                    width: 200px;
                    height: 200px;
                    }
                    @include breakpoint(breakpoint(lg)) {
                        width: 200px;
                        height: 200px;
                    }
                    @include breakpoint(breakpoint(s)) {
                    // 
                    }
                    @include breakpoint(breakpoint(xs)) {
                        // left: -12px;
                        // top: 0;
                    }
                    @include breakpoint(breakpoint(md)) {
                        width: 200px;
                        height: 200px;
                    }
                    @include breakpoint(breakpoint(sm)) {
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }
    }
}

.get_involved {
    .head_text {
        color:$h-color;
    }
    & .ways-to-container {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        @include breakpoint(breakpoint(xl)) {
        flex-direction: row !important;
        justify-content: space-between !important;
        }
        @include breakpoint(breakpoint(lg)) {
            flex-direction : row !important;
            justify-content: space-between !important;
        }
        > .contribute {
            border-radius: 20px;
            width: 100%;
            line-height: 1.5;
            background-color: $text-color;
            height: auto;
            @include breakpoint(breakpoint(xl)) {
                width: 30%;
                height: 390px;
            }
            @include breakpoint(breakpoint(lg)) {
               width: 30%;
               height: 390px;
            }
            > h3 {
                background-color: $blue-color;
                border-radius: 20px;
                color: $get_in_color;
                font-size: 0.9rem;
            }
            > p {
                color: #6e7191;
                font-size: 0.9rem;
            }
            > .in_link {
                display: block;
                text-decoration: underline;
                font: {
                    size: 0.9rem;
                }
                > img {
                    width:1rem;
                    height: 1rem;
                    vertical-align: middle;
                }
            }
        }
        > .donate {
            @extend .contribute;
            > h3 {
                background-color: $hero-bg-color;
                border-radius: 20px;
                color: $get_in_color;
            }
            > .in_link {
                border: 1px solid $blue-color;
                border-radius: 20px;
            }
        }
        > .connect {
            @extend .contribute;
            > h3 {
                background-color: $purple;
                border-radius: 20px;
                color: $get_in_color
            }
        }
    }
}

// set background colors for each section
// about container {}
.project_readme {
    background-color: $div1BgColor;
    padding: 0 10%;
    line-height: 1.2;
}
.goals_section {
    background-color: $div2BgColor;
    padding: 0 10%;
    line-height: 1.2;
}
.challenges_section {
    @extend .project_readme;
}
.support_section {
    @extend .goals_section;
}
.proceed_section {
    @extend .project_readme;
}
.partners {
    @extend .goals_section;
}
.get_involved{
    @extend .goals_section;
}
